* navbar */
.navbar {
    padding: 0 2rem;
}

.navbar .navbar-nav{
    margin-bottom: 1rem;
}

.navbar-toggler:focus{
    box-shadow:  0 0 0 0.25rem rgb(25 192 120 / 50%) !important;
}

@media (max-width: 420px) {
    .navbar {
        padding: 0 1.5rem;
    }
}

.navbar-light {
    background: #fff !important;
}

.navbar-brand img {
    max-width: 160px !important;
}

@media (max-width: 420px) {
    .navbar-brand img {
        max-width: 140px !important;
    }
}

@media (max-width: 990px) {
    .navbar-nav .dropdown{
        display: flex;
        flex-direction: column;
    }
    .navbar-nav .dropdown .dropdown-menu{
        font-size: 12px;
        padding: 0;
        border: none;
        
    }
    .navbar-nav .dropdown .dropdown-menu .dropdown-item{
        font-size: 12px;
        
    }
}

.nav-link {
    color: #000 !important;
}

.nav-link:hover {
    color: #19C078 !important;
}

.nav-link.active {
    color: #19C078 !important;
}

.nav-link.profile {
    padding-left: 1.5rem !important;
}

@media (max-width: 990px) {
    .nav-link.profile {
        padding-left: 0 !important;
    }
}


.footer1 {
    background: #263238;
    color: #fff;
    padding: 30px 3rem 10px 3rem;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content a img {
    max-width: 260px;
    margin-top: -20px;
}

.footer-content li {
    font-size: 14px;
}

li.li-r {
    margin-right: 15px;
}

@media (max-width: 837px) {
    .footer-content a img {
        max-width: 240px;
    }
    .footer-content ul li {
        font-size: 12px;
    }
}

p.copyright {
    font-size: 14px !important;
}

@media (max-width: 766px) {
    .footer-content a img {
        max-width: 220px;
    }
    li.li-r {
        margin-right: 10px;
    }
    p.copyright {
        font-size: 12px !important;
    }
}

@media (max-width: 704px) {
    .footer-content {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }
    ul {
        padding-left: 0 !important;
    }
}

@media (max-width: 453px) {
    li.li-r {
        margin-right: 5px;
    }
    .footer-content ul li, p.copyright {
        font-size: 10px !important; 
    }
}

@media (max-width: 376px) {
    .footer-content ul li {
        font-size: 8px !important;
    }
}

.header {
    height: 50vh;
    background-image:
        url('menanam-pohon.png');
    background-size: cover;
    background-position: center;
    position: relative;
  }

  @media (max-width: 767px){
    .header {
      height: 50vh;
      background-image:
          url('menanam-pohon.png');
      background-size: cover;
      background-position: middle;
      position: relative;
    }
  }

.line {
    background-color: #19C078;
    padding: 2px;
}

main {
    padding: 2rem 3rem;
    padding-bottom: 90px;
}


