
.intro {
  height: 100%;
}
 .gradient-custom-1 {
     background: linear-gradient(to right, #9ceeab, #e4d4d5);
 }
    
table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
tbody td {
  font-weight: 500;
  color: #999999;
}

.bebas {
  margin-left: 20px !important;
}

