* navbar */
.navbar {
    padding: 0 2rem;
}

.navbar .navbar-nav{
    margin-bottom: 1rem;
}

.navbar-toggler:focus{
    box-shadow:  0 0 0 0.25rem rgb(25 192 120 / 50%) !important;
}

@media (max-width: 420px) {
    .navbar {
        padding: 0 1.5rem;
    }
}

.navbar-light {
    background: #fff !important;
}

.navbar-brand img {
    max-width: 160px !important;
}

@media (max-width: 420px) {
    .navbar-brand img {
        max-width: 140px !important;
    }
}

@media (max-width: 990px) {
    .navbar-nav .dropdown{
        display: flex;
        flex-direction: column;
    }
    .navbar-nav .dropdown .dropdown-menu{
        font-size: 12px;
        padding: 0;
        border: none;
        
    }
    .navbar-nav .dropdown .dropdown-menu .dropdown-item{
        font-size: 12px;
        
    }
}

.nav-link {
    color: #000 !important;
}

.nav-link:hover {
    color: #19C078 !important;
}

.nav-link.active {
    color: #19C078 !important;
}

.nav-link.profile {
    padding-left: 1.5rem !important;
}

@media (max-width: 990px) {
    .nav-link.profile {
        padding-left: 0 !important;
    }
}